#cpenico {
    width: 1.1em;
    height: 1.2em;
    position: relative;
    top: 0.25em;
}

a:any-link {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--hoverblue);
}

#c1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h4 {
    margin: 0.5em;
}

#codepn {
    position: relative;
    top: -0.27em;
}

/* editing window */
.modal {
    display: none;
}