/Documents/NetBeansProjects/PrimerProyecto/target/
/Documents/NetBeansProjects/javawebproject1/target/
.vscode
.android
.aws
.azure
.cache
.config
.docker
AppData
.bash_history
node_modules
.angular
.config/configstore/firebase-tools.json
.config/configstore/update-notifier-firebase-tools.json
b9imqhqqo6wyheeuaqa8-mysql_services_clever-cloud_com.sql
databasemodel.mwb
portfolio2db.sql

