footer {
    background-color: var(--pink);
    color: var(--bgdcolor);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

footer p {
    padding: 0.5em;
    margin-left: 1em;
    overflow-x: hidden;
}

footer a {
    color: var(--bgdcolor);
}

footer a:any-link {
    text-decoration: none;
}

#up {
    z-index: 7;
    display: block;
    position: fixed;
    bottom: 10vh;
    right: 6vmax;
    font-size: 6vmin;
}

@media screen and (min-width: 600px) {
    #up {
        right: 9vmax;
    }
}

@media screen and (min-width: 1200px) {
    #up {
        right: 6vw;
    }
}