footer {
    background-color: var(--pink);
    color: var(--bgdcolor);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

footer p {
    padding: 0.5em;
    margin-left: 1em;
    overflow-x: hidden;
}

footer a {
    color: var(--bgdcolor);
}

footer a:any-link {
    text-decoration: none;
}