footer {
    background-color: var(--pink);
    color: var(--bgdcolor);
    font-family: 'Roboto', sans-serif;
    font-size: 0.5em;
    width: 100%;
}

footer p {
    padding: 0.5em;
    margin-left: 1em;
    overflow-x: hidden;
}