.progress {
    text-align: center;
}

.progress>li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: var(--blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 2rem;
}

.progress>li:after {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    top: 3.7rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
}
.progress svg {
    width: 10rem;
    height: 10rem;
}
.progress svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
    fill: none;
    stroke-width: 19;
    stroke-dasharray: 629;
    stroke: var(--grey);
    -webkit-animation: load 5s;
    -moz-animation: load 5s;
    -o-animation: load 5s;
    animation: load 5s;
}

@-webkit-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
stroke-dashoffset:0
}
}