<section id="skills" class="card">
    <h2>Skills</h2>
    <div id="cirgrid">
        <article id="s1" class="circle">
            <p>HTML</p>
        </article>
        <article id="s2" class="circle">
            <p>CSS</p>
        </article>
        <article id="s3" class="circle">

        </article>
        <article id="s4" class="circle">

        </article>
        <article id="s5" class="circle">

        </article>
        <article id="s6" class="circle">

        </article>
    </div>
</section>