<div id="aboutcontainer">
    <section id="avatar">
        <div id="avatarpic">
            <img [src]="myPortfolio.avatarimg" width="75%">
        </div>
        <div id="avatartext">
            <h1>María Xiomara Badano</h1>
        </div>
    </section>
    <section id="sobremi">
        <h2>Sobre mí</h2>
        <p>{{myPortfolio.title}}</p>
        <p>Cat ipsum dolor sit amet, i cry and cry and cry unless you pet me, and then maybe i cry just for fun do not try to mix old food with new one to fool me! jump on fridge a nice warm laptop for me to sit on.</p>
    </section>
</div>