<div id="aboutcontainer">
    <section id="avatar">
        <div id="avatarpic">
            <img [src]="myPortfolio.picUrl" width="75%">
        </div>
        <div id="avatartext">
            <a href="javascript:void(0)">
            <div class="pencilbtn" id="pencil-name" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
            </a>
            <h1>{{myPortfolio.firstName+" "+myPortfolio.lastName}}</h1>
        </div>
    </section>
    <section id="sobremi">
        <h2>Sobre mí</h2>
        <p>{{myPortfolio.aboutText}}</p>
        <a href="javascript:void(0)">
        <div class="pencilbtn" id="pencil-desc" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
        </a>     
    </section>
</div>