 #aboutcontainer {
    display: grid;
    justify-content: stretch;
    grid-template-areas: "avatar sobremi sobremi";
    grid-template-columns: 35% auto auto;
    background-color: var(--pink) ;
    color: var(--bgdcolor);
    text-align: center;
}

#aboutcontainer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 2em 1em 1em;
    text-align: center;
}

#avatar {
    grid-template-columns: 1 / 2;
}

#avatarpic img {
    margin-top: -2.5em;
    margin-left: 0.5em;
    background-color: var(--blue);
    border: 0.5em solid var(--blue);
    border-radius: 1.5em;
    z-index: 5;
    position: relative;
    max-width: 400px;
    height: auto;
}

#avatartext h1 {
    margin: 0 0 0.5em 0.5em;
    text-shadow: 2px 2px 0 var(--blue);
    line-height: 1.05em;
    padding-bottom: 1em;
}

#sobremi {
    grid-template-columns: 2 / span 2;
}

#sobremi h2 {
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 0 var(--blue);
}

#sobremi h2::before {
    content: " ";
    width: 120%;
    max-width: 95vw;
    height: 0.9em;
    margin-bottom: 7vw;
    margin-top: -1.5vw;
    margin-left: -40vw;
    position: absolute;
    background-color: var(--blue);
    z-index: -1;
    border-radius: 3em;
}

#under {
    font-style: italic;
}

#pencil-name {
    position: absolute;
    left: 1vw;
    z-index: 4;
}

#pencil-desc {
    display: inline-block;
}

.modal {
    display: none;
}

/* media queries */

@media screen and (min-width: 600px) {
    #avatartext h1 {
        padding: 0 0.5em 1em 0.5em;
    }
    #sobremi h2::before {
        width: 110%;
        max-width: 95vw;
    }
}

@media screen and (min-width: 860px) {
    #pencil-name {
        left: 2.5vw;
    }

    #avatarpic img {
        border: 0.7em solid var(--blue);
    }

    #sobremi h2::before {
        height: 1.2em;
    }
}

@media screen and (min-width: 1000px) {
    #avatartext h1 {
        padding: 0 0.5em 1em 0.5em;
    }
    #aboutcontainer p {
        margin: 0 4em 2em 2em;
    }
}


@media screen and (min-width: 1200px) {
    #avatartext h1 {
        padding: 0 2em 1em 2em;
    }
}

@media screen and (min-width: 1800px) {
    #pencil-name {
        left: 7vw;
    }
}