<section id="educacion" class="card">
    <h2>Educación</h2>
    <a href="javascript:void(0)">
        <div class="pencilbtn" id="pencil-edu" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
    </a>
    <article *ngFor="let edu of edus" class="cardcont">
        <h3>{{edu.title}}</h3>
        <h4>{{edu.institution}}</h4>
        <p>{{edu.eudcInfo}}</p>
        <!-- <p>{{edu.id_educt.educType.}}</p> -->
        <a href="{{edu.educUrl}}" target="_blank"><p>Sitio web</p></a>
    </article>
</section>