<nav>
    <ul id="navul">
        <li id="aplogo">
            <i class="bi bi-terminal"></i>
        </li>
        <li id="aptext">
            <p>Argentina</p>
            <p>Programa</p>
        </li>
        <li id="yoprogramo">
            <p>#YoProgramo</p>
        </li>
        <li id="menu">
            <i onclick="openNav()" class="bi bi-list"></i>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="bi-x-lg" onclick="closeNav()"></a>
                <a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</a>
                <a href="#sobremi">Sobre mí</a>
                <a href="#experiencia">Experiencia</a>
                <a href="#educacion">Educación</a>
                <a href="#skills">Skills</a>
                <a href="#proyectos">Proyectos</a>
                <a href="#contacto">Contacto</a>
                <a href="#" class="btn-toggle"><i class="bi bi-lightbulb"></i></a>
            </div>
        </li>
    </ul>
</nav>