<nav>
    <ul id="navul">
        <li id="aplogo">
            <i class="bi bi-terminal-fill"></i>
        </li>
        <li id="aptext">
            <p>Argentina</p>
            <p>Programa</p>
        </li>
        <li id="yoprogramo">
            <p>#YoProgramo</p>
        </li>
        <li id="menu">
            <i (click)="openNav()" class="bi bi-list"></i>
            <div #mySidenav id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="bi-x-lg" (click)="closeNav()"></a>
                <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" *ngIf="!loggedUser">Log in</a>
                <a href="window.location.reload()" (click)="logOut()" *ngIf="loggedUser">Log out</a>
                <a href="#sobremi">Sobre mí</a>
                <a href="#experiencia">Experiencia</a>
                <a href="#educacion">Educación</a>
                <a href="#skills">Skills</a>
                <a href="#proyectos">Proyectos</a>
                <a href="#contacto">Contacto</a>
                <a href="javascript:void(0)" (click)="toggle()" class="btn-toggle">Dark mode <i [ngClass]="bulbclass"></i></a>
                <a href="javascript:void(0)" (click)="gradient()" class="btn-toggle">Gradient mode <i [ngClass]="onoff"></i></a>
            </div>
        </li>
    </ul>
</nav>