nav {
    background-color: var(--blue);
    color: var(--bgdcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Encode Sans', sans-serif;
    position: fixed;
    z-index: 8;
}

#navul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    width: 100%;
    display: grid;
    justify-content: stretch;
    grid-template-columns: auto auto auto auto;
    align-content: center;
}

nav li {
    list-style-type: none;
    font-size: 1em;
    margin-top: 0.25em;
}

#aplogo {
    font-size: 1.5em;
    grid-column: 1 / 2;
    margin-left: 0.3em;
    margin-right: -0.4em;
}

#aptext {
    font-size: 0.65em;
    line-height: 0;
    margin-top: 0.4em;
    grid-column: 2 / 3;
    text-align: left;
}

#yoprogramo {
    font-size: 0.85em;
    margin-right: 2em;
    line-height: 2em;
    grid-column: 3 / 4;
}

#yoprogramo p {
    margin: 0.25em 0 0 -1em;
}

#menu {
    font-size: 1.15em;
    line-height: 2em;
    grid-column: 4 / span 1;
}

#menu i {
    margin: 0.25em 0 0 0;
}

#menu p:hover {
    color: var(--hoverblue);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--blue);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 3vw;
    transition: 0.5s;
    color: var(--bgdcolor);
    font-size: 0.7em;
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    align-content: start;
    text-align: left;
}

.sidenav a {
    color: var(--bgdcolor);
    text-decoration: none;
    padding: 0.5em;
    line-height: 1.15em;
}

.sidenav a:hover {
    background-color: var(--hoverblue);
}

@media screen and (min-width: 800px) {
    #aplogo {
        margin-left: 0.3em;
        margin-right: -1em;
    }
    #yoprogramo {
        margin-left: -1em;
    }
    .sidenav {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 1200px) {
    #aplogo {
        margin-left: -1em;
    } 
    
    #aptext {
        margin-left: -3em;
    }
    #yoprogramo {
        margin-left: -2em;
        margin-right: 2em;
    }
    #menu {
        margin-right: -1em;
    }
}