.modal {
    display: none;
}

.modal h1 {
    font-weight: 600;
    margin: 0.3em;
}

#remlab {
    padding: 3px;
}

#rem {
    font-size: 0.8rem;
}

button {
    color: var(--blue);
    cursor: pointer;
    width: 60%;
}

.cancelbtn {
    width: 60%;
}

#recup {
    font-size: 0.8rem;
    color: var(--blue);
    text-decoration: none;
    display: block;
    padding: 0.6em;
}

#recup a:active, #recup a:visited {
    text-decoration: none;
    color: var(--blue);
}

.text-danger {
    font-family: 'Roboto', sans-serif;
    color: var(--pink);
    margin-top: 0;
}


@media screen and (min-width: 860px) {
    #rem, #recup{
        font-size: 1rem;
    }
}