<div id="banner">
    <picture id="bannerpic">
        <source media="(min-width: 360px)" srcset="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        <source media="(max-width: 360px)" srcset="florian-olivo-4hbJ-eymZ1o-unsplash(2).jpg">
        <source media="(min-width: 1280px)" srcset="florian-olivo-4hbJ-eymZ1o-unsplash.jpg">
        <img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
    </picture>
</div>