<section id="educacion" class="card">
    <h2>Educación
        <a href="javascript:void(0)" (click)=openFormN($event)>
            <div class="pencilbtn" id="addedu" *ngIf="loggedUser"><i class="bi bi-plus-square"></i></div>
        </a>
    </h2>
    <app-neweduform *ngIf="openModalN"></app-neweduform>
    <app-eduform *ngIf="openModal"></app-eduform>
    <article *ngFor="let edu of edus" class="cardcont">
        <h3>{{edu.title}}
            <a href="javascript:void(0)" (click)=openForm($event)>
                <div class="pencilbtn" id="pencil-edu" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
            </a>
            <a href="javascript:void(0)" (click)="deleteEdu(edu.id_educ)">
                <div class="pencilbtn" id="deledu" *ngIf="loggedUser"><i class="bi bi-x-square"></i></div>
            </a>
        </h3>
        <h4>{{edu.institution}}</h4>
        <p *ngIf="edu.id_educt.educType!=='Curso Online'">{{edu.place}}</p>
        <p>{{edu.startDate}} - {{edu.endDate}}<span *ngIf="!edu.endDate">En curso</span></p>
        <p>{{edu.educInfo}}</p>
        <div class="edulinks">
            <a href="{{edu.educUrl}}" target="_blank"><p><i class="bi bi-globe2"></i> Sitio web</p></a>
            <a href="{{edu.certif}}" target="_blank" *ngIf="edu.certif"><p><i class="bi bi-file-earmark-richtext-fill"></i> Certificado</p></a>
        </div>
        <p class="type">{{edu.id_educt.educType}}</p>
    </article>
</section>