<div id="id01" class="modal">
    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="titlecontainer">
            <h1>Argentina Programa</h1>
            <h1>#YoProgramo</h1>
            <h2>Iniciar sesión</h2>
        </div>      
        <div class="container">
            <label for="uname">Nombre de usuario</label>
            <input type="text" placeholder="Escribir nombre" name="uname" required>
            <label for="psw">Contraseña</label>
            <input type="password" placeholder="Ingresar contraseña" name="psw" required>       
            <button type="submit">Log in</button>
            <label style="font-size: 0.5em;"><input type="checkbox" checked="checked" name="remember"> Recordarme</label>
        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
            <span class="psw"><a href="#" id="recup">Recuperar contraseña</a></span>
        </div>
    </form>
</div>