<div id="id01" class="modal" *ngIf="!logOk">
    <form [formGroup]="form" (ngSubmit)="onSend($event)" class="modal-content animate" method="post">
        <div class="titlecontainer">
            <h1>Argentina Programa</h1>
            <h1>#YoProgramo</h1>
            <h2>Iniciar sesión</h2>
        </div>      
        <div class="container">
            <label for="email">Email</label>
            <input type="text" formControlName="email" placeholder="Escribir email" name="email" required>
            <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                    El email es necesario
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                    Debe escribir una dirección de email válida
                </p>
            </div>

            <label for="psw">Contraseña</label>
            <input type="password" formControlName="password" placeholder="Ingresar contraseña" name="psw" required>
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                    La contraseña es necesaria
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                    La contraseña debe tener 8 o más caracteres
                </p>
                <p class="text-danger">{{loginError}}</p>
            </div>
            
            <button type="submit">Log in</button>
            <label for="remember" id="remlab"><input type="checkbox" checked="checked" name="remember"><span id="rem"> Recordarme</span></label>
        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
            <span class="psw"><a href="#" id="recup">Recuperar contraseña</a></span>
        </div>
    </form>
</div>