<!-- <p>neweduform works!</p> -->
<div class="modal" id="newedu">
    <form class="modal-content animate" [formGroup]="form" method="post" (ngSubmit)="onSave()">
        <label for="title">Título</label>
        <input type="text" value="title" formControlName="title" name="title"><br>
        <label for="institution">Institución</label>
        <input type="text" value="institution" formControlName="institution" name="institution"><br>
        <label for="startDate">Fecha de inicio</label>
        <input date="month" value="startDate" formControlName="startDate" name="startDate"><br>
        <label for="endDate">Fecha de egreso</label>
        <input date="month" value="endDate" formControlName="endDate" name="endDate"><br>
        <label for="place">Lugar</label>
        <input type="text" value="place" formControlName="place" name="place"><br>
        <label for="educUrl">URL</label>
        <input type="text" value="educUrl" formControlName="educUrl" name="educUrl"><br>
        <label for="certif">Certificado</label>
        <input type="text" value="certif" formControlName="certif" name="certif"><br>
        <label for="educInfo">Descripción</label>
        <textarea value="educInfo" formControlName="educInfo" name="educInfo" rows="5">
        </textarea><br>
        <label for="id_educt">Tipo de educación</label>
        <select name="id_educt" formControlName="id_educt" (change)="edu.id_educt">
            <option *ngFor="let educt of educts" value={{educt.id_educt}}>{{educt.educType}}</option>
        </select><br>
        <button class="submitbtn submitexp" type="submit">Crear</button><br>
        <button class="submitbtn notsubmitexp" onclick="window.location.reload()" type="button">Cancelar</button>
    </form>
</div>