<section id="proyectos" class="card">
    <h2>Proyectos
        <a href="javascript:void(0)" (click)=openFormN($event)>
            <div class="pencilbtn" id="addpro" *ngIf="loggedUser"><i class="bi bi-plus-square"></i></div>
        </a>
    </h2>
    <app-newproform *ngIf="openModalN"></app-newproform>
    <app-proform *ngIf="openModal"></app-proform>
    <article *ngFor="let proj of projs" class="cardcont">
        <h3>{{proj.pname}}
            <a href="javascript:void(0)" (click)=openForm($event)>
                <div class="pencilbtn" id="pencil-pro" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
            </a>
            <a href="javascript:void(0)" (click)="deleteProj(proj.id_projects)">
                <div class="pencilbtn" id="delpro" *ngIf="loggedUser"><i class="bi bi-x-square"></i></div>
            </a>
        </h3>
        <p>{{proj.pdescription}}</p>
        <div class="preview">
            <a href="{{proj.purl}}" target="_blank"><div class="filter"><img src="{{proj.ppreview}}"></div></a>
        </div>
    </article>
</section>