<section id="experiencia" class="card">
    <h2>Experiencia
        <a href="javascript:void(0)" (click)=openFormN($event)>
            <div class="pencilbtn" id="addexp" *ngIf="loggedUser"><i class="bi bi-plus-square"></i></div>
        </a>
    </h2>
    <app-newexpform *ngIf="openModalN"></app-newexpform>
    <app-expform *ngIf="openModal"></app-expform>
    <article *ngFor="let exp of exps" class="cardcont">
        <h3>{{exp.job}}
            <a href="javascript:void(0)" (click)=openForm($event)>
                <div class="pencilbtn pencil-exp" *ngIf="loggedUser"><i class="bi bi-pencil-square"></i></div>
            </a>
        </h3>
        <h4>{{exp.workplace}}</h4>
        <p>{{exp.startDate}} - {{exp.endDate}}</p>
        <p>{{exp.description}}</p>
        <p class="type">{{exp.id_expt.jobType}}</p>
    </article>
</section>