body {
    --bgdcolor: #FFF7FD;
    --blue: #0E043B;
    --hoverblue: #1b0c5e;
    --pink: hsl(331, 89%, 55%);
    --grey: #bcbcbe;
}

body.dark-theme {
    background-color: #050216;
}

body.dark-theme .card, body.dark-theme .modal {
    --bgdcolor: #050216;
    --blue: #FFF7FD;
    --grey: #242494;
}

/*mobile first: starting at 280px (target: samsung galaxy fold) */

body {
    background-color: var(--bgdcolor);
    margin: 0;
    font-size: 5.5vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body.gradientmode #aboutcontainer, body.gradientmode footer {
    background-image: linear-gradient(90deg, var(--blue), var(--pink));
}

body>* {
    max-width: 100%;
}

main {
    width: 100vw;
    height: auto;
    max-width: 100%;
}

main>* {
    max-width: 100%;
}

h1, h2 {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.15em;
}

p {
    font-size: 0.8em;
}

h3, h4 {
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
    font-weight: 600;
}

h2 a {
    display: inline-block;
    text-shadow: none;
}

h3 a {
    display: inline-block;
}

h3 {
    font-size: 1em;
    line-height: 0.9em;
}

h4 {
    font-size: 0.8em;
    line-height: 1em;
    margin-top: -0.7em;
}

.card {
    color: var(--blue);
    margin-left: 0.6em;
}

.card h2 {
    font-size: 1.15em;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 var(--bgdcolor),  
    1px -1px 0 var(--bgdcolor),
    -1px 1px 0 var(--bgdcolor),
    1px 1px 0 var(--bgdcolor);
}

.card h2::before {
    content: " ";
    width: 100%;
    max-width: 95vw;
    height: 0.9em;
    margin-bottom: 7vw;
    margin-top: -1.5vw;
    margin-left: -47vw;
    position: absolute;
    background-color: var(--pink);
    z-index: -1;
    border-radius: 3em;
}

.cardcont {
    margin-top: -0.3em;
    margin-right: 1.15em;
    margin-bottom: 2em;
    text-align: left;
}

.cardcont p {
    margin-top: -0.5em;
    font-weight: 400;
}

.cardcont a:any-link {
    text-decoration: none;
    color: var(--blue);
}

.type {
    background-color: var(--pink);
    padding: 0.5em;
    font-size: 0.6em;
    max-width: fit-content;
    border-radius: 3em;
}

body.gradientmode .card h2::before {
    background-image: linear-gradient(90deg, var(--pink), var(--bgdcolor));
}

.pencilbtn {
    background-color: var(--blue);
    width: fit-content;
    height: auto;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 0.7em;
    color: var(--bgdcolor);
    z-index: 4;
}

.pencilbtn:hover {
    background-color: var(--hoverblue);
}

.pencilbtn:any-link {
    text-decoration: none;
    color: var(--bgdcolor);
}

/* Modal */

body.gradientmode .modal {
    background-image: linear-gradient(120deg, var(--pink), var(--bgdcolor), var(--bgdcolor));
}

.modal {
    border: 3px solid var(--blue);
    border-radius: 1em;
    position: fixed;
    z-index: 14;
    width: 80vw;
    height: auto;
    max-height: 90vh;
    left: 5%;
    top: 5%;
    background-color: var(--bgdcolor);
    padding: 4% 2%;
    color: var(--blue);
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    overflow: auto;
    text-align: center;
}

.modal button {
    border-radius: 2em;
    background-color: var(--pink);
    margin: 1em 0 0 0;
    padding: 0.6em;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    color: var(--bgdcolor);
    border: 0;
    cursor: pointer;
    width: 60%;
}

.modal button:hover {
    opacity: 0.8;
}

.modal label {
    padding: 4% 0 1% 0;
    display: block;
    font-family: 'Encode Sans', sans-serif;
}

.modal input, textarea {
    border-radius: 1em;
    border: 0.9px solid var(--blue);
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.4em;
    width: 80%;
}

.modal select {
    border-radius: 1em;
    border: 0.9px solid var(--blue);
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.4em;
}

.modal input:active,
.modal input:focus,
.modal textarea:active,
.modal textarea:focus,
.modal select:active,
.modal select:focus {
    outline-color: var(--blue);
    background-color: hsla(331, 94%, 81%, 0.932);
}

.modal input[type=checkbox] {
    accent-color: var(--pink);
    width: fit-content;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* media queries */

@media screen and (min-width: 600px) {
    body {
        font-size: 4vw;
    }
    .card {
        margin-left: 0.9em;
    }
}

@media screen and (min-width: 700px) {
    body {
        font-size: 3.5vw;
    }
    .card {
        margin-left: 1.2em;
    }
    .modal {
        width: 60vw;
        left: 15%;
        top: 5%;
    }
}

@media screen and (min-width: 860px) {
    body {
        font-size: 2.75vw;
    }
    .card {
        margin-left: 1.5em;
    }
    .card h2::before {
        height: 1em;
    }
    .modal input, textarea {
        font-size: 1em;
        margin: 0.5em;
        padding: 0.4em;
        width: 60%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 24px;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.4em;
    }
    .card h2 {
        font-size: 1.4em;
    }
    .card h2::before {
        height: 1.1em;
    }

    .cardcont {
        padding-left: 5vw;
        padding-right: 5vw;  
    }

    .modal {
        width: 40vw;
        left: 30%;
        padding: 1%;
    }
}

@media screen and (min-width: 1800px) {
    body {
        font-size: 36px;
    }
}