body {
    --bgdcolor: #FFF7FD;
    --blue: #0E043B;
    --hoverblue: #1b0c5e;
    --pink: hsl(331, 89%, 55%);
    --grey: #bcbcbe;
}

body.dark-theme {
    background-color: #0E043B;
}

body.dark-theme .card {
    --bgdcolor: #0E043B;
    --blue: #FFF7FD;
    --grey: #242494;
}

body {
    background-color: var(--bgdcolor);
    margin: 0;
    font-size: 5vw;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: auto;
}

h1, h2 {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

/* h1 {
    font-size: 1em;
    text-shadow:
    -1px -1px 0 var(--blue),  
    1px -1px 0 var(--blue),
    -1px 1px 0 var(--blue),
    1px 1px 0 var(--blue);
} */

h3, h4 {
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
    font-weight: 600;
    margin-top: -0.7em;
}

h3 {
    font-size: 1em;
    line-height: 0.9em;
}

h4 {
    font-size: 0.8em;
    line-height: 1em;
}

.card {
    color: var(--blue);
}

.card h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 var(--bgdcolor),  
    1px -1px 0 var(--bgdcolor),
    -1px 1px 0 var(--bgdcolor),
    1px 1px 0 var(--bgdcolor);
    /* -2px -2px 0 var(--pink),  
    2px -2px 0 var(--pink),
    -2px 2px 0 var(--pink),
    2px 2px 0 var(--pink); */
}

.card h2::before {
    content: " ";
    width: 100%;
    height: 0.9em;
    margin-bottom: 7vw;
    margin-top: -1.5vw;
    margin-left: -47vw;
    position: absolute;
    background-color: var(--pink);
    z-index: -1;
}

.cardcont {
    margin-left: 1em;
    margin-top: -0.7em;
    margin-right: 1em;
}

.cardcont p {
    font-family: 'Roboto', sans-serif;
    margin-top: -0.7em;
    font-weight: 400;
    font-size: 0.6em;
    text-align: justify;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 3.75vw;
    }
    
    .card h2 {
        text-shadow:
        -2px -2px 0 var(--bgdcolor),  
        2px -2px 0 var(--bgdcolor),
        -2px 2px 0 var(--bgdcolor),
        2px 2px 0 var(--bgdcolor);
    }
    h3 {
        font-size: 0.9em;
    }
    h4 {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 3vw;
    }

    .cardcont p {
        font-size: 0.5em;
        margin-right: 2em;
    }

    .card h2 {
        font-size: 0.9em;
    }
    .card h2::before {
        width: 80%;
        margin-bottom: 9vw;
        margin-top: -1vw;
        margin-left: -47vw;
    }
    h3 {
        font-size: 0.7em;
    }
    h4 {
        font-size: 0.5em;
    }
}