body {
    --bgdcolor: #FFF7FD;
    --blue: #0E043B;
    --hoverblue: #1b0c5e;
    --pink: hsl(331, 89%, 55%);
    --grey: #bcbcbe;
}

body.dark-theme {
    background-color: #050216;
}

body.dark-theme .card, body.dark-theme .modal {
    --bgdcolor: #050216;
    --blue: #FFF7FD;
    --grey: #242494;
}

.modal {
    border: 3px solid var(--blue);
    border-radius: 1rem;
}

.modal button {
    border-radius: 3rem;
}

.modal input, textarea {
    border-radius: 2rem;
}

body {
    background-color: var(--bgdcolor);
    margin: 0;
    font-size: 5vw;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: auto;
}

h1, h2 {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

h3, h4 {
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
    font-weight: 600;
    margin-top: -0.7em;
}

h3 {
    font-size: 1em;
    line-height: 0.9em;
}

h4 {
    font-size: 0.8em;
    line-height: 1em;
}

.card {
    color: var(--blue);
}

.card h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 var(--bgdcolor),  
    1px -1px 0 var(--bgdcolor),
    -1px 1px 0 var(--bgdcolor),
    1px 1px 0 var(--bgdcolor);
    /* -2px -2px 0 var(--pink),  
    2px -2px 0 var(--pink),
    -2px 2px 0 var(--pink),
    2px 2px 0 var(--pink); */
}

.card h2 a {
    text-shadow: none;
    display: inline-block;
}

.card h2::before {
    content: " ";
    width: 100%;
    max-width: 95vw;
    height: 0.9em;
    margin-bottom: 7vw;
    margin-top: -1.5vw;
    margin-left: -47vw;
    position: absolute;
    background-color: var(--pink);
    z-index: -1;
    border-radius: 3em;
}

.cardcont {
    margin-left: 1em;
    margin-top: -0.7em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.cardcont h3 a {
    display: inline-block;
}

.cardcont p {
    font-family: 'Roboto', sans-serif;
    margin-top: -0.7em;
    font-weight: 400;
    font-size: 0.6em;
    text-align: justify;
}

body.gradientmode .card h2::before {
    background-image: linear-gradient(90deg, var(--pink), var(--bgdcolor));
}

body.gradientmode #aboutcontainer, body.gradientmode footer {
    background-image: linear-gradient(90deg, var(--blue), var(--pink));
}

body.gradientmode .modal {
    background-image: linear-gradient(120deg, var(--pink), var(--bgdcolor), var(--bgdcolor));
}

@media screen and (min-width: 800px) {
    body {
        font-size: 3.75vw;
    }
    
    .card h2 {
        text-shadow:
        -2px -2px 0 var(--bgdcolor),  
        2px -2px 0 var(--bgdcolor),
        -2px 2px 0 var(--bgdcolor),
        2px 2px 0 var(--bgdcolor);
    }
    h3 {
        font-size: 0.9em;
    }
    h4 {
        font-size: 0.7em;
    }
}

.pencilbtn {
    background-color: var(--blue);
    width: fit-content;
    height: auto;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 0.7em;
    color: var(--bgdcolor);
}

.pencilbtn:hover {
    background-color: var(--hoverblue);
}

.pencilbtn:any-link {
    text-decoration: none;
    color: var(--bgdcolor);
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 3vw;
    }
    .card {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .cardcont p {
        font-size: 0.5em;
        margin-right: 2em;
    }

    .card h2 {
        font-size: 0.9em;
    }
    .card h2::before {
        width: 80%;
        margin-bottom: 9vw;
        margin-top: -1vw;
        margin-left: -47vw;
    }
    h3 {
        font-size: 0.7em;
    }
    h4 {
        font-size: 0.5em;
    }
}